@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
}
.profile-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}
.profile-img {
    width: 100px;
    border-radius: 50%;
}
.social-links {
    margin-top: 10px;
}
.social-icon {
    margin: 0 5px;
    text-decoration: none;
    color: violet;
}